.navbar {
  position: sticky;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
  color: white;
  font-weight: 600;
}

.logo {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.cart {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.menu .active {
  text-decoration: underline;
}
