
.home-container {
  max-height: 70vh;
}


.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

button {
  background: #ff4d6d;
  border: none;
  padding: 12px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.featured {
  padding: 40px;
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}
body {
  margin: 0;
  background-image: url('/images/home-bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background-slider {
  position: absolute;
  width: 400%;
  height: 100%;
  display: flex;
  animation: slideAnimation 40s linear infinite;
}
.slide {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  background-size: contain;
  background-position: center;
}
/* IMÁGENES */
.slide:nth-child(1) {
  background-image: url('/flowers/cajaFlor.jpg');
}

.slide:nth-child(2) {
  background-image: url('/flowers/cajaFlor2.jpg');
}

.slide:nth-child(3) {
  background-image: url('/flowers/cajaFlor3.jpg');
}
.slide:nth-child(4) {
  background-image: url('/flowers/cajaFlor.jpg');
}
/* Animación */
@keyframes slideAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300vw);
  }
}
.hero {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(0,0,0,0.4);
  padding: 40px;
  border-radius: 12px;
  color: white;
  text-align: center;
}